# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods (if you ever add it)
Pods/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
